<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Communication Component</div>

                    <div class="card-body">
                        <v-btn @click="applied">Notify Parent!</v-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        mounted() {
            console.log('Component mounted.')
        },

        methods: {
            applied(){
                this.$emit('applied');
            }

        }
    }
</script>
